.blog-detail ul {
    list-style-type: square;
    margin: 10px 0;
    padding: 0;
  }
  
  .blog-detail ul li {
    margin: 5px 0;
  }
  
  .blog-detail ul li a {
    color: #007bff;
    text-decoration: none;
  }
  
  .blog-detail ul li a:hover {
    text-decoration: underline;
  }
  

  .dash-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Align items to opposite ends */
    align-items: center; /* Vertically align items */
    padding: 10px; /* Optional: Adjust spacing */
  }
  .dashboard-button{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }